<!DOCTYPE html>
<html>
<head>
  <title>HS Coding Exercise</title>
  <link rel="stylesheet" href="https://unpkg.com/m-@1.0.0-beta.19/dist/min.css">
  <script defer src="https://unpkg.com/m-@1.0.0-beta.19/dist/min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{{body}}}
  <script src="https://unpkg.com/retchful@1.0.0-beta/dist/min.js"></script>
  <script src="esl-cards.riot" type="riot"></script>
  <script src="https://unpkg.com/riot@4.9.3/riot+compiler.min.js"></script>
  <script>
    riot.compile().then(() => riot.mount('esl-cards'));

    // Utility function needed for debouncing keyup
    function debounce(fn) {
      let timeoutID;
      return function () {
        const args = arguments;
        clearTimeout(timeoutID);
        timeoutID = setTimeout(() => fn(...args), 250);
      }
    }
  </script>
</body>
</html>